.station-sidebar {
  width: 250px;
  height: calc(100vh - (3.2rem + 4px));
  background: #000;
  display: flex;
}

.station-sidebar-menu{
  width: 3.3rem;
  display: flex;
  height: calc(100% - 2rem);
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.station-sidebar-menu div {
  background-color: #000;
  pointer-events: all;
  transition: none;
  color: #FFFFFF ;
  font-size: 1.6rem;
  padding: 0.7rem;
  text-align: center;
}

.station-sidebar-menu div {
  transition: all 0s;
  cursor: pointer;
  opacity: 0.5;
}

.station-sidebar-menu div.active {
background: #ff9300;
opacity: 1;
}

.station-sidebar-menu div:hover {
opacity: 1;
}

.station-sidebar-body{
  background: #F5F5F5;
  width: 100%;
}
