.station-user-card{
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  background: #ffffff;
  display: flex;
  box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}

.station-user-card.disabled{
  opacity: 0.4;
}

.station-user-card img{
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.4);
  margin: 0 0.5rem 0 0;
}

.station-user-card h2,
.station-user-card p{
margin: 0;
padding: 0;
}

.station-user-card h2{
font-size: 1rem;
font-weight: bold;
}

.station-user-card p{
font-size: 0.8rem;
opacity: 0.5;
}

