.station-login {
  width: 100%;
  background: url(/assets/logo-telaLogin.jpg) center center no-repeat;
  background-size: cover;
}

.station-login .row {
  flex-wrap: nowrap;
}

.station-login-card{
  width: calc(224px + 4rem);
  height: 620px;
  display: inline-block;
  text-align: left;
  background-color: #000;
  display: inline;
  padding: 3rem 2rem;

}
.station-login-card2{
  width: 70%;
  height: 620px;
  text-align: center;
  background-color: transparent;
  display: flex;
  padding: 0;
}

.station-login-card-img{
  width: 9rem;
  margin-top: 0.5rem;
}

.station-login-performance{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0.5rem;
}

.station-login-performance h1,
.station-login-performance p{
margin: 0;
padding: 0;
}


.station-login-performance h1{
  font-weight: 100;
  font-size: 1.8rem;
  color: #FF9300;
}

.station-login-performance p{
  color: #ffffff;
  font-size: 0.5rem;
  margin-top: -0.4rem;
}

.h1{
  float: center;
  width:100px;
  margin-top: 30%;
  justify-content: end;
  color: aliceblue;
  padding: 10%;
  font-size: 1.2em;
}

.card-img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.login{
  max-width: 250px;
}

.station-login-input{
  display: flex;
  background: #ffffff;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.4rem;
  align-items: center;
}

.station-login-input i{
  margin: auto 0.4rem;
}

.station-login-input input{
  border: none;
  margin: 0 !important;
  padding: 0.2rem;
  outline: none;
}

.login label {
  text-align: left;
  display: block;
  font-size: 0.8rem;
  margin: 0;
}

.login button {
  width: 100%;
  margin-top: 1rem;
}
